html {
  background-color: #11121d;
  color: #f2f2f2;
 }

::-webkit-scrollbar {
    width: 6px;
    }
    ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #11121d;
    border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
    background: #f2f2f2;
    border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb:hover {
    background: #004fb3; 
    }

#LHS, #RHS {
  border: solid #f2f2f2;
  padding: 1%;
}

#filetree {
  max-height: 80vh;
  max-width: 20vw;
  overflow: auto;
  word-wrap: break-word;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  margin-bottom: 5px;
  list-style-type: none;
}

#actualli {
  list-style-type: square;
}

#page {
  display: grid;
  grid-template-columns: 20fr 80fr;
  grid-template-rows: 1fr;
  grid-column-gap: 2%;
}

#grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 2%;
}


#LHS {
  height: 80vh;
}

#fileheader {
  height: 13.5vh;
  margin-bottom: 1.5vh;
  overflow: auto;
}

#col2 {
  height: 13.5vh;
  margin-bottom: 1.5vh;
  overflow: auto;
}

#viewer {
  height: 65vh;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

textarea {
  width: 100%;
  height: 6.75vh;
  border: 2px solid #f2f2f2;
  border-radius: 4px;
  background-color: #11121d;
  color: #f2f2f2;
}

#title, #description, #notesheader {
  display: flex;
}

#icon {
  margin-top: 21.440px;
  margin-right: 10px;
}

#fileh3 {
  word-wrap: break-word;
}
